<div class="content-row">
  <div class="form-wrap">
  <!--プロフィールと投稿-->
  <% if user_signed_in? && @user.id == current_user.id %>  
    <div class="product-wrap">
        <ul>
          <li>投稿機能</li>
          <li>プロフィール画像</li>
          <li>プロフィール</li>
        </ul>  
          <% @products.each do |product| %>
          <ul>
            <li class="product">
              <div class="title">
                <%= link_to "#{product.title}","/products/#{product.id}" %>
              </div>
              <%= link_to image_tag("#{product.image}", :class => "image", :width => "100%"), "/products/#{product.id}" %>
            </li>  
          </ul>
          <% end %>
      </div>
  <% else %>
    <div class="product-wrap">
        <% @products.each do |product| %>
        <ul>
          <li class="product">
            <div class="title">
              <%= link_to "#{product.title}", "/products/#{product.id}" %>
            </div>
            <%= link_to image_tag("#{product.image}", :class => "image", :width => "100%"), "/products/#{product.id}" %>
          </li>  
        </ul>
        <% end %>
      </div>  
  <% end %>  
  </div>  
</div>
