/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: gray;
}

header{
  background-color: white;
  height: 15vh;
}

.header{
  box-shadow:0 2px 8px rgba(30,30,80,.3);
  left:0;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  z-index:24;
}

.header-top{
  height: 7.5vh;
  text-align: center;
}

.header-nav{
  height: 7.5vh;
  background-color: pink;
  position: relative;
}

.search-form{
  display: inline-block;
  width: 18vh;
  height: 6vh;
  text-align: center;
  border: 1px solid;
  border-color: black;
  float: left;
  box-shadow: 0 0 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  display: inline-block;
  width: 18vh;
  height: 6vh;
  text-align: center;
  border: 1px solid;
  border-color: black;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-row{
  margin: 0 100px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.form-wrap{
    height: 500px; 
    margin: 140px 0;
    position: relative;
}

.form{
    background-color: white;
    height: 80%;
    width: 60%;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

footer{
  background-color: white;
  height: 500px;
  width: 100%;
}
