// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

.ranking{
  width: 100%;
  margin-top: 140px;
  // background-color: yellow;
}

.product-wrap{
  width: 100%;
  // background-color: orange;
  border: solid white;
  margin: 2px;
}

.product{
  display: inline-block;
  width: 32%;
  max-height: 400px;
  margin: 5px;
}

.title{
  display: block;
  background-color: white;
  height: 50px;
  padding: 18px;
  font-size: 18px;
}

.image{
  display: block;
  background-color: blue;
  max-height: 350px;
}

.nickname{
  display: block;
  background-color: white;
  height: 50px;
  padding: 18px;
  font-size: 18px;
}

.detail-wrap{
  min-height: 1000px;
  margin: 140px 0;
  position: relative;
}

.detail{
  width: 65%;
  // background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 600px;
  position: absolute;
  margin: auto;
  padding: 20px;
}

.image-detail{
  width: 300px;
  height: 200px;
  margin: 2px;
  float: left;
}

.content{
  margin: 140px 0 0 0;
}

.text{
  width: 300px;
  min-height: 100px;
  background-color: blue;
  margin: 2px;
  float: right;
}

// .right-content{
//   float: right;
// }

.title-detail{
  width: 300px;
  min-height: 50px;
  background-color: yellow;
  margin: 2px;
  float: right;
}

.ingredient{
  width: 300px;
  min-height: 100px;
  background-color: yellow;
  margin: 2px;
  float: right;
}

.recipe{
  width: 100%;
  min-height: 100px;
  background-color: yellow;
  margin: 2px;
  float: left;
}

.more-content{
  width: 32%;
  // background-color: pink;
  top: 0;
  bottom: 0;
  left: 700px;
  right: 0;
  position: absolute;
  margin: auto;
  padding: 20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}





