<div class="product-wrap">
  <ul>
    <li class="product">
      <div class="title">
        <%= @product.title %>
      </div>     
      <div class="image" style="background-image: url(<%= @product.image %>)";>
      </div> 
    </li>
  </ul>   
</div>