<div class="form-wrap">
  <div class="form">
    <!--<h3>レシピも投稿する</h3>-->
    <!--  <%= link_to "レシピ入力画面", "/ingredients/new" %>-->
    <h3>ホームに戻る</h3>
      <%= link_to "ホーム画面", "/products" %>
  </div>
</div>    