<div class="form-wrap">
  <div class="form">
    <%= form_for(@product) do |f| %>
    <h3>タイトル（最大20字）</h3>
      <%= f.text_field :title, placeholer: "例：ナスの肉みそ炒め", maxlength: "20" %>
    <h3>写真</h3>
      <%= f.text_field :image %>
      <%= f.submit "タイトルと画像を投稿する" %>
    <% end %>
  </div>
</div>  